.containerMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 20px;
    overflow: visible;
}

/* lado esquerdo */
.main {
    flex: 1;
    max-width: 500px;
}

/* lado direito */
.imgNotebook {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.imgNotebook img {
    transform: translateX(90px);

}

.imgNotebook img {
    transition: transform 0.3s ease;

}

.imgNotebook img:hover {
    transform: translateX(90px) scale(1.03);
}

.imgNotebook img {
    animation: entrada 0.6s ease-out;
}


.presentation {
    color: var(--dourado-color);
    padding: 5px 15px;
    border: 1px solid var(--border-color);
    border-radius: 16px;
    font-size: 12px;
}

.h1 {
    margin-top: 20px;
    font-size: 36px;
    line-height: 38px;
}

.letterDourado {
    color: var(--dourado-color);
}

.subTitle {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 25px;
}

.btnArea {
    display: flex;
    justify-content: space-between;
}

.btnRight,
.btnLeft {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.btnRight {
    background: var(--dourado-color);
    color: #000;
    border: none;
}

.btnLeft {
    background: transparent;
    border: 1px solid var(--border-color);
}

.icoWhatsapp {
    color: var(--dourado-color);
}

/*Items cards*/

.items {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item p {
    font-size: 12px;
    color: var(--text-secondary);
    margin-top: 5px;

}

.item h4 {
    font-size: 14px;
    font-weight: 600;
}

.ico {
    display: flex;
    align-items: center;
    border: 1px solid var(--dourado-color);
    border-radius: 50%;
    padding: 8px;
    color: var(--dourado-color);
    box-shadow: inset 0 2px 2px var(--dourado-color);
}