:root {
  --background: #010D1B;
  --background-inside: #03101F;
  --foreground: #EDEDED;
  --border-secondary: #1E3B57;
  --main-color: #4A90E2;
  --border-primary: #122334;
  --text-primary: #275D94;
  --background-icon: #14365F;
  --background-call: #141414;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    
  }
} */



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/img/point.png');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;


}

h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  margin-bottom: 10px;
  text-align: center;
  font-size: 12px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}