.header {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--border-secondary);
    padding-right: 20px;
    background: var(--background-inside);
}

.nav ul {
    display: flex;
    gap: 40px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background: transparent;
    padding: 10px 20px;
    border: 1px solid var(--border-secondary);
    border-radius: 8px;
    cursor: pointer;
    color: var(--main-color);

}

.logo {
    font-size: 40px;
    padding: 10px 20px;
}