.header {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    padding-right: 20px;
    background: #141517;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #141517, #090D13);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #141517, #090D13);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.nav ul {
    display: flex;
    gap: 40px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background: transparent;
    padding: 10px 20px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    cursor: pointer;
    color: var(--dourado-color);

}