.section {
    border: 1px solid var(--border-secondary);
    border-radius: 8px;
    position: relative;
    margin-top: 20px;
    background: var(--background);
}

.section h2 {
    text-align: center;
    margin-top: 20px;
}

.subTitle {
    text-align: center;
    color: var(--text-secondary);
    font-size: 14px;
    padding-top: 5px;
}

.title {
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
    border: 1px solid var(--border-primary);
    padding: 4px 10px;
    border-radius: 16px;
    text-align: center;
    font-size: 12px;
    background: var(--background);
}

.cardWorkContainer {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 18px;
    padding: 20px;
}

.cardWorkItem {
    border: 1px solid var(--border-secondary);
    border-radius: 10px;
    padding: 10px;
    background: var(--background-inside);
}

.Link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--main-color);
    font-size: 14px;
}

.cardWorkItem a {
    color: var(--main-color);

}

.imgCard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCard img {
    width: 280px;
    height: auto;
    border-radius: 8px;

}

.textCard h4 {
    margin-top: 20px;
}

.textCard p {
    color: var(--text-secondary);
    padding: 10px 0;
    font-size: 12px;

}

.tec {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.tec div {
    border: 1px solid var(--border-secondary);
    color: var(--main-color);
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 5px;
}