.footer {
    margin-top: 20px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    border: 1px solid var(--border-secondary);
    border-radius: 8px;
    background-color: var(--background);
    padding: 20px;
    color: var(--text-secondary);
}

.footer h4 {
    color: var(--main-color);
    font-size: 14px;
    margin-bottom: 10px;
}

.apresentation h2 {
    color: var(--main-color);
    margin-bottom: 10px;
}

.footer p {
    font-size: 12px;
}

.navegation li {
    font-size: 12px;
    margin: 4px 0px;
}

.socialNetwork div {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    margin: 4px 0px;

}

.footer a:hover {
    color: var(--main-color);
}

.socialNetwork div:hover {
    color: var(--main-color);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid var(--main-color);
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    color: var(--foreground);
}


@media (max-width: 460px) {
    .btn {
        display: none;
    }

}