.container {
    margin-top: 20px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--border-primary);
    border-radius: 8px;
    background-color: var(--background);
}

.areaIcon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    color: var(--foreground);
    background: var(--background-icon);
}

.text {
    flex: 1;
}


.text h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.text p {
    max-width: 60%;
    font-size: 12px;
    color: var(--text-secondary);
}

.btnWhatSapp {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    color: var(--foreground);
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background: #2983EC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2983EC, #14365F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2983EC, #14365F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.icoWhatsapp {
    font-size: 18px;
}

@media (max-width: 780px) {
    .container {
        flex-direction: column;
    }
}